<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi familia</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header><h1>Mi familia</h1></header>
    <nav>
        <a href="../index.html">¿Quien soy?</a>
        <a href="familia.html">Mi Familia</a>
        <a href="hobbies.html">Mis Hobbies</a>
    </nav>
    <hr>
    <section>

        <div id="container">
            <div class="caja">
    <h2 class="familiar">Mi mamá</h2>
    <p class="nombre">Nombre: Paula Andrea Palacios Molina</p>
<img src="../assets/images/mama.jfif" alt="mama">
</div>
<div class="caja">
<h2 class="familiar">Mi papá</h2>
<p class="nombre">Nombre: Jhovanny Rodriguez García</p>
<img src="../assets/images/papa.jfif" alt="papa">
</div>
<div class="caja">
<h2 class="familiar">Mi hermana</h2>
<p class="nombre">Nombre: Gabriela Rodriguez Palacios</p>
<img src="../assets/images/hermana.jfif" alt="hermana">
</div>
<div class="caja">
<h2 class="familiar">algunos otros miembros de mi familia</h2>
<p class="nombre">Mis primos</p>
<img src="../assets/images/familia.jfif" alt="primos">
</div>


</section>
<hr>
<footer>
    <p>Pagina web realizada por Valentina Rodriguez Palacios. <br>Todos los derechos de autor reservados &copy;</p>
</footer>
</body>
</html>