<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis hobbies</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header><h1>Mis hobbies</h1></header>
    <nav>            
        <a href="../index.html">¿Quien soy?</a>
        <a href="familia.html">Mi Familia</a>
        <a href="hobbies.html">Mis Hobbies</a></nav>
        <hr>
    <section>
        <div id="hobbie">
        <h2>¿Qué me gusta hacer en mi tiempo libre?</h2>
        <p>He crecido en una familia muy artística, lo que ha influido significativamente en mi. Por un lado, toda la familia de mi mamá se dedica a crear artesanías, como cuadros, lo que me ha inspirado a explorar mi creatividad pintando. Por otro lado, mi papá es diseñador gráfico, esta combinación de influencias ha despertado en mí una profunda atracción por el arte. Disfruto mucho pintar y crear artesanías con materiales como la madera. Al mismo tiempo, me siento atraída por el diseño digital, a pesar de no tener demasiados conocimientos en este ambito. <br>
        Otro de mis grandes hobbies es la musica, y mas especificamente, bailar. He desarrollado un amor por la danza me hace sentir llena de energía y alegría. <br>
        En los últimos cuatro años, he encontrado un pasatiempo que me apasiona: los idiomas. Durante la pandemia, aproveché mis tiempos libres para estudiar inglés por mi cuenta, lo que me llevó a desarrollar un verdadero amor por este idioma. Aprender inglés se ha vuelto muy fácil para mí gracias a la dedicación que le puse. <br>
        Finalmente, un pasatiempo muy grande que tuve fue tocar el piano, durante algunos meses aprendi un poco al respecto, sin embargo, actualmente, la falta de tiempo me limita a dejar de hacer muchas cosas que me gustan</p>
    </div>

    <div id="actividades">
        <div class="actividad"><img src="../assets/images/piano.jfif" alt="piano"></div>
        <div class="actividad"><img src="../assets/images/pintar.jfif" alt="pintar"></div>
        <div class="actividad"><img src="../assets/images/estudiar.jfif" alt="estudiar"></div>
    </div>
    </section>
    <hr>
    <footer>
        <p>Pagina web realizada por Valentina Rodriguez Palacios. <br>Todos los derechos de autor reservados &copy;</p>
    </footer>
</body>
</html>